<template name="leadpiechart">
  <style type="text/css">
    .hideelement {
      display: none !important;
    }

    .showelement {
      display: block;
    }

    .sortableExpenseBreakdown {
      width: 100%;
      min-width: 275px;
      max-width: calc(25% - 0.5rem);
    }

    .sortableExpenseBreakdown .expense-widget {
      width: -webkit-fill-available;

    }


    @media screen and (max-width: 1306px) {
      .sortableExpenseBreakdown {
        width: 100%;
        max-width: 512px;
      }
    }

    @media screen and (max-width: 768px) {
      .sortableExpenseBreakdown {
        width: 100%;
        max-width: 100%;
      }
    }
  </style>
  <div class="minHeight100">
    <div class="card shadow mb-4 portlet expense-widget">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h6 class="text-info font-weight-bold m-0">All Leads By Source</h6>
      </div>
      <div class="card-body">
        <canvas id="chart_leadpiechart" name="chart_leadpiechart" width="400" height="400"></canvas>
      </div>
    </div>
  </div>
</template>